<div class="form-row">
    <div class="col form-group">
        <label for="autor">Autor: {{post.autor}}</label>
        <input type="hidden" name="autor" value="{{post.autor}}">
    </div>
</div>

<div class="form-row">
    <div class="col form-group">
        <label for="name">Title*</label>
        <input type="text" name="titulo" class="form-control" required value="{{post.titulo}}">
    </div>
</div>
<div class="form-row">
    <div class="col-4 form-group">
        <label for="birthyear">Local*</label>
        <input type="text" name="local" class="form-control" required
            value="{{post.local}}">
    </div>
    <div class="col-8 form-group">
        <label for="data">Data: {{post.data}}</label>
        <input name="data" type="hidden" value="{{post.data}}">
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label for="picture">Capa:</label>
        <input type="file" name="picture">
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label for="bio">Conteúdo*</label>
        <textarea name="conteudo" cols="30" rows="10" 
            class="form-control" required>{{post.conteudo}}</textarea>
    </div>
</div>
